body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: black;
  color: white;
  font-weight: 500;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Скрытые заголовки */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  position: relative;
  background-image: url("../img/default-bg.png");
  width: 1280px;
  min-height: 720px;
}

/* наложение opacity если
меню не в фокусе */
.js-nofocus {
  opacity:  0.5;
}

.additional-menu {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 40%;
  transition: 0.5s;
}

.additional-menu__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}

.additional-menu__link {
  display: block;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  width: 55px;
  height: 55px;
}

.additional-menu__link--current {
  border: 2px solid lightskyblue;
  box-shadow: 0 0 20px lightskyblue;
}

.additional-menu__link--current.additional-menu__link--bgchange {
  border: 2px solid lightskyblue;
  box-shadow: 0 0 20px lightskyblue;
  background-color: lightskyblue;
}

.additional-menu__link--bgchange {
  border: 2px solid grey;
  background-color: grey;
}

.additional-menu__img {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 35px;
  height: auto;
}

.additional-menu__item--settings {
  float: right;
}

/* Блок навигации */
.header__nav {
  overflow: hidden;
  position: relative;
  height: 100px;
  width: 100%;
  white-space: nowrap;
}

.nav {
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 40px;
}

.nav__item {
  display: inline;
  margin-right: 20px;
}

.nav__link {
  font-size: 40px;
  position: relative;
}

.nav__link--current {
  text-transform: uppercase;
  font-weight: 700;
}

.nav__link--current:after {
  content: "";
  left: 0;
  bottom: -10px;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: lightskyblue;
  border-radius: 5px;
  box-shadow: 0 5px 10px lightskyblue;
}

.nav.js-nofocus .nav__link--current:after {
  display: none;
}

/* Блок Слайдера */
.slider__item {
  display: none;
}

.slider__item--current {
  transition: 0.5s;
  display: block;
}

.preview {
  overflow: hidden;
  height: 340px;
  position: relative;
  white-space: nowrap;
}

.preview__list {
  transition: 0.5s;
  position: absolute;
  width: 100%;
  top: 0;
  left: 220px;
  text-align: center;
}

.preview__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}

.preview__link {
  position: relative;
}

.preview__link img {
  width: 180px;
  height: auto;
}

.preview__link--current img {
  transform: scale(1.2);
}

.preview__link--current:after {
  content: "";
  left: -10%;
  bottom: -40px;
  position: absolute;
  width: 120%;
  height: 6px;
  background-color: lightskyblue;
  border-radius: 5px;
  box-shadow: 0 5px 10px lightskyblue;
}

.description {
  display: none;
}

.description--current {
  display: block;
}

.description__title {
  margin-top: 0px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 46px;
}

.tags-list {
  text-align: center;
}

.tags-list__item {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  font-size: 28px;
  margin-right: 40px;
  position: relative;;
  padding-bottom: 5px;
}

.tags-list__item--age {
  font-size: 32px;
}

.tags-list__item--age:before {
  content: "";
  top: -10px;
  left: -10px;
  width: 140%;
  height: 120%;
  position: absolute;
  border: 1px solid white;
  border-radius: 10px;
}

.tags-list__item--star:after {
  content: "";
  position: absolute;
  top: 5px;
  right: -30px;
  width: 22px;
  height: 22px;
  background-image: url("../img/rating-star-icon.png");
  background-repeat: no-repeat;
}

